@import "../MenuBar/MenuBar";

.sorters {
  font-size: 14px;
  flex-shrink: 1;
}

.sorterButton {
  @extend %button;
  padding: 5px 20px;
  border: none;
}

.sorterButton:hover {
  color: rgb(124, 53, 255);
}

.sorterButton.active {
  background-color: transparent;
  color: rgb(124, 53, 255);
}

.sorterButton:active {
  @extend .sorterButton.active;
}
