$totalRows: 101; //should be max + 1

.chart {
  display: grid;
  // grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(calc($totalRows - 1), 1fr);
  height: 60vh;
  width: 0.5em;
  padding: 5px 0.5px;
}

[class*="bar"] {
  border-radius: 5px 5px 0 0;
  transition: all 0.4s ease;
  flex-grow: 1;
  flex-shrink: 1;
  grid-row-end: $totalRows;
}

@mixin chartValue($data) {
  $res: $totalRows -$data;
  grid-row-start: $res;
}

@for $i from 1 through $totalRows {
  .bar-#{$i} {
    background-color: #2962ad;
    @include chartValue($i);
  }
}

.active {
  background-color: rgb(39, 218, 173);
  transition: all 0.4s ease;
}

.swap {
  background-color: rgb(235, 60, 197);
  transition: all 0.2s ease;
}

.sortedAlready {
  background-color: rgb(39, 218, 108);
  transition: all 0.4s ease;
}
